@charset "UTF-8";
	.container{
	  margin:0;
	  padding:20px 100px;
	  width:800px;
	  }
*{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
}

.slide {
	border:1px solid #e3e3de;
	width:800px;
	position: relative;
	overflow: hidden;
	height: 300px;
}

/* SLIDER */

.slide .slider {
	width:800px;
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

.slide-full{
	background-repeat:no-repeat;
	margin-right:300px;
}


/* SLIDES */

.slide .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* NAVIGATION */

.slide .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px;
	width: 100%;
	text-align: right;
	
}

.slide .bullets > a {
	display: inline-block;
	width:20px;
	height:20px;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.slide .bullets > a+a {
	background: rgba(255, 255, 255, 0.5);
}
.slide .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}


/* NAVIGATION BUTTONS */
/* ALL: */
.slide > .s:target ~ .bullets >* {background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,1);}

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.slide > .s:target ~ .prevNext >* { visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}

.slide .slider h2 {
	font-weight: 200;
	word-spacing: 0.2em;
	font-size: 3em;
	}

.slide a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
	}

.slide .slide-description{
    text-align:center;
   	width:260px;
   	height:100%;
   	margin:0 0 0 540px;
   	padding: 20px 0 20px 0;
   	background:black;
   	color:white;
   }
.slide .slide-description .slide-description-title{
	margin-top:80px;
}
.slide-description-title{
	font-size: 20px;
}

.project{
	width:800px;
    margin:30px 0;
}

.card-wrapper{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.card-shadow{
	width:200px;
	padding:5px 0;
}

.more-btn{
	margin:30px;
	text-align:center;
}

input.more-btn-main{
	border:1px solid #E6E6E6;
	border-radius:22px;
	width:233px;
	height:44px;
	font-size:14px;
	}
	
.card_meta{
	color:#6e6e6e;
	margin-top:5px;
}
