@charset "UTF-8";

/*=========상단 미니제목=========*/
.miniTitle_left{
	float:left;
}
.miniTitle_right{
	float:right;
	font-size: 11px;
}
.miniTitle_left, .miniTitle_right{
	margin: 40px 0 5px 0;
}
.miniTitle_content{
	font-size: 18px;
	cursor : pointer;
}
#notice_alarm{
	color: #e36c17;
}
.line{
	clear: both;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: gray;
	height: 0.1px;
	margin-bottom: 50px;
}
/*========= 마이페이지 바디 =========*/
.container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(2, minmax(200px, auto));
	text-align: center;
}
.item{
	padding-top: 70px;
	margin: 5px 0 0 5px;
	border: 1px solid gray;
	box-shadow: 1px 0 2px 0.5px #b5b4ae; /*수평 수직 흐림 크기 색상*/
	font-size: 13px;
}
.item:hover{
	padding-top: 70px;
	margin: 5px 0 0 5px;
	border: 1px solid gray;
	box-shadow: 1px 0 2px 0.5px #b5b4ae; /*수평 수직 흐림 크기 색상*/
	font-size: 13px;
	background-color: #e3e4e6;
	transform: translate(-3px, -3px); /*클릭시 살짝 이동*/
	cursor : pointer;
}
/*========= 기본정보 =========*/
.setthing_title{
	text-decoration: underline;
	font-size: 20px;
}
.info_container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(10, minmax(20px, auto));
	margin: 0 25px 0 25px;
}
.info_item{
	
}
.info_item_title{
	text-align: left;
	padding: 10px 0 20px 0;
	font-weight: bold;
}
.info_item_content{
	text-align: left;
	padding: 0 0 25px 0;
	border-bottom: 0.5px solid rgba(0,0,0,0.1);
} 
.list_style{
	list-style: none;
	margin: 0;
	padding: 0;	
}
#nickname, #phone, #origin_password, #new_password, #newcheck_password{
	margin: 5px 0;
	padding: 10px 0;
	border: 0.5px solid #ededed;
	border-radius: 3px;
}
.info_item_content{
	padding-bottom: 10px;
}
.align-left > input, #nickname_choice > input[type=button],  #photo_choice > input[type=button], #phone_choice > input[type=button], #password_submit, #password_reset, #deleteMem{
	border: 0.5px solid #ededed;
	background-color: white;
	padding: 5px 20px 5px 20px;
}
.fileUpload{
	
}

/*========= 회원탈퇴 =========*/
.delete_margin{
	/* margin: 0 25px 0 25px; */
}
.delete_title{
	font-weight: bold;
	margin: 5px 0;
	font-size: 14px;
}
.delete_content{
	font-weight: bold;
	font-size: 12px;
	color: #ed9518;
	display: block;
	margin-bottom: 10px;
}
.delete_detailContent{
	border: 0.5px gray solid;
	padding: 8px 5px; 
}
/*========= 배송지 설정 =========*/
.container-title{
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	overflow:hidden;
	height:auto;
	padding: 10px;
	margin-bottom: 10px;
}

.container-title span{
	border: 2px solid #E6E6E6;
	padding: 5px 20px 5px 20px;
}

#del_addbtn{
	float: right;
	margin: 0 15px 20px 0;
}
#del_reset{
	float: right;
}
.btnCss{
	border: none;
	outline: none;
	background-color: white;
	cursor: pointer;
	color: #0070d9;
}
.btnCss:hover{
	border: none;
	outline: none;
	background-color: white;
	cursor: pointer;
	color: black;
}
.del_container{
	display: grid;
/* 	grid-template-columns: 1fr;
	grid-template-rows:	repeat(auto, minmax(20px, auto)); */
	/* margin: 0 25px 0 25px; */
	margin-bottom: 25px;
}
.del_item{
	border: 0.5px solid gray;
	border-radius: 10px;
	margin: 5px 5px 5px 0;
}
.del_item_css{
	list-style: none;
	padding-left: 17px;	
}
.delChoice_btn{
	float:right;
	padding-right: 10px;
}
.delContent{
	float: left;
}
.cssdelete{
	clear: both;
}
#mainDel{
	background-color: #ed9518;
	border-radius: 5px;
	color: white;
	font-size: 10px;
	padding: 2px 5px 2px 5px;
}
.noContent{
	margin: 0 300px 50px 300px;
	padding: 100px 0;
	text-align: center;
	border: 1px solid black;
}
#updateContent{
	padding-left: 17px;	
}
#del_content{
	text-align: left;
	padding: 0 15px 30px 15px;
	margin: 0 320px;
	border: 0.5px solid gray;
	box-shadow: 1px 0 2px 0.5px #b5b4ae; /*수평 수직 흐림 크기 색상*/
	font-size: 13px;
}
#register_form > input{
	margin: 5px 0;
	padding: 10px 0;
	border: 0.5px solid #ededed;
	border-radius: 3px;
}
#register_form > input[type=button]{
	padding: 5px 10px;
	cursor: pointer;
}
#register_form > input[type=button]:hover{
	padding: 5px 10px;
	cursor: pointer;
	background-color: #fc7b03;
}

#delsubmit{
	width: 100%;
	background-color: #ed9518;
	cursor: pointer;
}
#delsubmit:hover{
	width: 100%;
	background-color: #fc7b03;
	cursor: pointer;
}
/*========= 나의 프로젝트 =========*/
.myPro_Container{
	display: grid;
 	grid-template-columns: 1fr 1fr 1fr;
 	gap: 50px 20px;
 	margin-bottom: 30px;
} 
.myPro__item{
	/* margin: 0 0 10px 25px;	 */
}
.align-center{
	text-align: center;	
}
.photo{
	border-radius: 5px;
	width: 100%;
	height: 150px;
}
.myPro__item_content li, .myPro__item_content > ul{
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 4px;
}
/*========= 후원 프로젝트 =========*/
.supTitle_left{
	float: left;
}
.supTitle_right{
	float: right;
	padding: 0;
}
#pro-summary{
	font-size: 9px;
}
#pro-detail-content{
	font-size: 12px;
}
.myPro__item_content{
	cursor: pointer;
}
.supDetail-container{
	/* margin: 0 250px; */
}
#supDetail-projectContent{
	border: 0.5px solid;
	/* width: 50%;	 */
}
.content_line{
	clear: both;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: gray;
	height: 0.1px;
}
.detailPhoto{
	border-radius: 5px;
	width: auto;
	height: 100px;
	background-color: black;
	padding: 0;
	margin: 0;
}
#supDetailtable{
	width: 100%;
	height: 100px;
}
.mysupPro_item_content  > ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.plex_container{
	display: flex;
	flex-direction: row;
}
.plex_items > p{
	margin: 0 0 0 15px;
}
.align-left{
	text-align: left;
}
.align-center{
	text-align: center;
}
.top_title{
	height: auto;
	border-bottom: 0.5px solid;
}
#supPro_content > p{
	padding: 3px;
	
}
#top_supNum{
	font-size: 14px;
}
.subpro_detailContet{
	font-size: 9px;
}