@CHARSET "UTF-8";

ul{
	padding: 0;
	margin: 0;
	list-style-type:none;
	overflow:hidden;
	height:auto;
}

a:link,  a:visited { 
	color: black;
	text-decoration: none;
}

a:hover { 
	color: black;
	text-decoration: none;
}

hr{
   width: 100%;
   height: 1px;
   color: #E6E6E6;
   background: #E6E6E6;
   border: thin;
}

input:focus {
	outline:none;
}

input::placeholder{color:#E6E6E6;}
input::-webkit-input-placeholder {color:#E6E6E6;}
input:-ms-input-placeholder {color: #E6E6E6;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:hover{
   	cursor: pointer;
}

.content img{
	max-width: 100%;
	width: auto;
	height: auto;
}

.projectTop{
	text-align: center;
	margin-bottom: 20px;
}

.projectTop .category{
	color: #FF7878;
	margin-bottom: 5px;
}

.projectTop .name{
	font-size: 18px;
	font-weight: bold;
	width: 70%;
	margin: 0 auto;
	margin-bottom: 5px;
}

.projectTop .creator{
	display: flex;
	align-items: center;
	justify-content: center;
}

.projectOutline{
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.outline-right{
	width: 34%;
	height: 100%;
}

.outline-left{
	width: 62%;
	height: 100%;
}

.outline-left .photo{
	width:100%; 
	height:100%;
}

.outline-right{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.outline-right li{
	margin-bottom: 10px;
}

.outline-right .progress-wrapper{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.outline-right progress{
	width: 90%;
	height: 3px;
	-webkit-appearance: none;
}

.outline-right .info-title{
	margin-bottom: 5px;
}

.outline-right .info-content{
	font-size: 20px;
}

::-webkit-progress-bar {
  background-color: #E6E6E6;
}

::-webkit-progress-value {
  background-color: #FF7878;
}

.explanation{
	width: 100%; 
	height: 25%;
	display:table;
	border-spacing: 10px;
	background-color: #FAFAFA;
}

.explanation p{
	margin-right: 10px;
	display: table-cell; 
	vertical-align: middle;
}

.icon{
   font-size: 2px;
   color: #ADB5BD;
}


.btn-wrapper{
	overflow: hidden;
	height: auto;
}

.btn-wrapper>ul{
	display: flex;
 	justify-content: center;
}

.btn-wrapper li{
	margin-right: 10px;
}

.support-btn{
	padding: 10px;
	display: inline-block;
	background-color: #1DA1F2;
	border: 0;
	border-radius: 5px;
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}

.share-btn{
	padding: 10px;
	width: 50px;
	border:1px solid #E6E6E6;
	border-radius: 5px;
	text-align: center;
	color: #6D6D6D;
}

.s-btn{
	border: 0;
   	padding: 8px;
   	border-radius: 100%;
}

.fa-clipboard{
   	font-size: 35px;
}

.popup_box { 
	display: none;
	background-color: #ffffff;
	border: solid 1px #E6E6E6;
	overflow: hidden;
	width: 120px; 
   	height: auto;
}

.popup_cont { 
   	padding: 10px;
} 

.btn_close { 
   	margin: 5px; 
   	background: none; 
   	border: 0; 
   	color: #7E7575; 
   	float: right;
}

.deadline-btn{
	padding: 10px;
	background-color: #1DA1F2;
	opacity:0.5; 
	border: 0;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
	color: #ffffff;
	margin: 0;
}

.nav_wrap{
	padding: 10px;
	width: 25%;
	margin: 0 auto;
}

.nav_wrap>ul, .nav_project>ul{
 	display: flex;
 	justify-content: center;
}
 
.nav_wrap li, .nav_project li{
	float: left;
	margin-right: 20px;
}

.nav_wrap a:hover { 
	color: #FF7878;
	text-decoration: none;
}

.nav_project{
	padding: 5px;
	margin-bottom:20px;
}

.nav_project button{
	display: inline-block;
	width: 65px;
	text-align: center;
	padding: 5px;
	border-radius: 18px;
	border: 1px solid #E6E6E6;
	background-color: #FFFFFF;
}

.nav_project button:hover { 
	color: #FFFFFF;
	background-color: #FF7878;
	text-decoration: none;
}

.content{
	display: flex;
	justify-content: space-between;
}

.content-right{
	width: 72%;
	overflow: hidden;
}

.content-right .con-title{
	font-size: 16px;
	font-weight: bold;
	border-left: 5px solid #FF7878;
	margin-bottom: 10px;
}

.content-left{
	width: 25%;
}

.gift-card{
	box-shadow: 3px 3px 5px #E6E6E6;
	border:1px solid #E6E6E6;
	border-radius: 3px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#gift-form{
	width: 100%;
}

.gift-card .ginfo{
	margin-bottom: 10px;
}

.gift-card .price{
   	font-size: 18px;
}

.rest_cnt{
	color: #FF7878;
	float: right;
}

.gift-card .component{
   	font-size: 12px;
}

.gift-card .ship{
	margin-top: 10px;
	color: #7E7575;
   	font-size: 12px;
   	margin-bottom: 10px;
}

.donation-wrap{
	margin-bottom: 10px;
}

.donation-wrap>div{
	margin-bottom: 5px;
}

.donation{
	width: 100%;
	padding: 3px;
 	border: 1px solid #E6E6E6;
 	box-sizing : border-box;
}

.supportButton{
	width: 100%;
	padding: 3px;
	background-color: #FF7878;
	border:0;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}

.disButton{
	background-color: #E6E6E6;
}

.deadline-card{
	opacity:0.8; 
}

/* notice */
.notice-wrap{
	display: none;
}