@CHARSET "UTF-8";

a:link,  a:visited { 
	color: black;
	text-decoration: none;
}

a:hover { 
	color: black;
	text-decoration: none;
}

button:hover{
   	cursor: pointer;
}

input:focus {
	outline:none;
}

input{
	margin: 0;
	padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

hr{
   width: 100%;
   height: 1px;
   color: #E6E6E6;
   background: #E6E6E6;
   border: thin;
}

.container{
	width: 100%;
	overflow:hidden;
	height:auto;
}

.container-title{
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	overflow:hidden;
	height:auto;
	padding: 10px;
	margin-bottom: 10px;
}

.container-title span{
	border: 2px solid #E6E6E6;
	padding: 5px 20px 5px 20px;
}

.support-info{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
  	align-items: center;
  	margin-bottom: 30px;
}

.info-title{
	width: 62%;
	font-weight: bold;
	font-size: 16px;
	color: #3D3D3D;
	margin-bottom: 10px;
}

.change-btn{
	color: #3D3D3D;
	font-weight:normal;
	font-size: 12px;
	padding: 5px;
	border: 1px solid #E6E6E6;
	border-radius: 5px;
	background-color: #FFFFFF;
	cursor:pointer;
}

.info-wrap{
	width: 60%;
	border: 1px solid #E6E6E6;
	border-radius: 5px;
	padding: 10px;
}

.info-con{
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	flex-wrap: wrap;
}

.info-name{
	font-weight: bold;
	color: #3D3D3D;
}

.info-con .color{
	color: #FF7878;
	font-weight: bold;
	font-size: 16px;
}

.btn-wrap{
	text-align: center; 
}

.supportButton{
	width: 30%;
	padding: 10px;
	background-color: #FF7878;
	border:0;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	cursor:pointer;
	margin: 0 auto;
}

/* popup */
#giftList, #deliveryList{
    display: none;
}

#giftList, #deliveryList{
	width: 400px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -250px;
	padding: 30px;
	background-color: #fff;
	z-index: 2;
	overflow: scroll;
	overflow-x: hidden;
}

.gift-card, .donation-wrap{
	font-size: 14px;
	padding: 10px 0 10px 0;
}

.card-wrap{
	display:flex;
	flex-direction: column;
}

.card-wrap>span{
	margin-top: 10px;
	margin-bottom: 10px;
}

.card-wrap .component{
	margin: 0;
}

.donation-wrap{
	margin-top: 20px;
}

.change-donation{
	width: 100%;
	padding: 3px;
 	border: 1px solid #E6E6E6;
 	box-sizing : border-box;
}
    
.backon{
    content: "";
    width: 100%;
    height: 100%;
    background: #00000054;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

label, .close, .giftChangeBtn, .delChangeBtn{
  	cursor:pointer;
}

.popup-btn{
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.close, .giftChangeBtn, .delChangeBtn{
  	width: 10%;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	color: #ffffff;
}

.giftChangeBtn, .delChangeBtn{
	background-color: #FF7878;
	margin-right: 5px;
}

.close{
	background-color: #E6E6E6;
	width: 10%;
}

.del-default{
	color: #FF7878;	
}

/* supportResult */
.result-wrap{
	width: 35%;
	padding: 30px;
	border: 1px solid #E6E6E6;
	margin: 0 auto;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.result{
	margin-bottom: 15px;
}

.result-wrap .bold{
	font-weight: bold;
	font-size: 20px;
}

.result-wrap .color{
	color: #FF7878;
	font-weight: bold;
}

.result-wrap .title{
	font-size: 24px;
	width: 50%;
	padding: 10px;
	text-align: center;
	border-bottom: 2px solid #FF7878;
}

.result-wrap .btn{
	margin-top: 10px;
	padding: 10px;
	color: #FFFFFF;
	border-radius: 5px;
	border: 0;
}

.result-wrap .mysupport{
	background-color: #FF7878;
}

.result-wrap .home{
	background-color: #1DA1F2;
}