<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.question.dao.QuestionMapper">  
  	<select id="selectList" parameterType="map" resultType="questionVO">
  		SELECT
  			*
  		FROM (SELECT
  				a.*,
  				rownum rnum
  			FROM (SELECT
  					q.num,
  					<![CDATA[
		              REPLACE(REPLACE(q.title,'<','&lt;'),'>','&gt;') title,
		              ]]>
  					q.question_date,
  					q.password,
  					q.m_num,
  					d.nickname
  				FROM question q JOIN member_detail d ON q.m_num = d.m_num
  				<where>
  					<if test="keyword != '' and keyfield == 1">
  						q.title LIKE '%' || #{keyword} || '%'
  					</if>
  					<if test="keyword != '' and keyfield == 2">
  						d.nickname LIKE '%' || #{keyword} || '%'
  					</if>
  					<if test="keyword != '' and keyfield == 3">
  						q.content LIKE '%' || #{keyword} || '%'
  					</if>
  					<if test="keyword != '' and keyfield == 4">
  						q.title LIKE '%' || #{keyword} || '%' or 
  						q.content LIKE '%' || #{keyword} || '%'
  					</if>
  				</where>
  				ORDER BY q.num DESC)a)
  		<![CDATA[
  			WHERE rnum >= #{start} AND rnum <=#{end}
  		]]>
  	</select>
  	
  	<select id="selectRowCount" parameterType="map" resultType="integer">
  		SELECT
  			COUNT(*)
  		FROM question q JOIN member_detail d ON q.m_num = d.m_num
  		<where>
			<if test="keyword != '' and keyfield == 1">
				q.title LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 2">
				d.nickname LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 3">
				q.content LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 4">
				q.title LIKE '%' || #{keyword} || '%' or 
				q.content LIKE '%' || #{keyword} || '%'
			</if>
		</where>
  	</select>
  	
  <!-- 댓글 목록 -->
	<select id="selectListAnswer" parameterType="map" resultType="answerVO">
		SELECT
		  *
		FROM (SELECT 
		        al.*,
		        rownum rnum
		      FROM (SELECT 
		              a.num,
		  			  a.content,
		              TO_CHAR(a.answer_date,'YYYY-MM-DD HH24:MI:SS') answer_date,
		              a.q_num,
		              a.m_num,
		              d.photo_name,
		              d.nickname
		            FROM answer a JOIN member_detail d ON a.m_num=d.m_num
		            WHERE a.q_num = #{q_num}
		            ORDER BY a.num DESC)al)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
	
	<!-- 댓글 총개수 -->
	<select id="selectRowCountAnswer" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		FROM answer a JOIN member_detail d ON a.m_num=d.m_num
		WHERE a.q_num=#{q_num}
	
	</select>
</mapper>







